.banner-slider {
    width: 80%;
    margin: 0 auto; /* 중앙 정렬 */
    padding: 20px 0;
  }
  
  .banner-image {
    width: 100%;
    height: auto;
    border-radius: 10px; /* 둥근 모서리 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
  }

  